{% load static %}

<!DOCTYPE html>

<head>
    <title>ATTENTO</title>
    <link rel="icon" type="image/png" href="{% static 'images/attendo_logo1.png' %}">
    <link rel="stylesheet" href="{% static 'faculty_style.css' %}">
    <script src="{% static 'function.js' %}"></script>
    <meta name="description" content="Attendance tracking website">
    <meta name="keywords" content="Attendance, college ,school">
    <script></script>
</head>
<body>
    <div></div>
    <div>
        <nav class="navbar">
            <center>
                <img class="logo" src="{% static 'images/attendo_logo1.png' %}">
            <ul>
                <li><a href="#">Settings</a></li>
                 <li><a href="/attendo/faculty/logout">Logout</a></li>
            </ul>
            </center>
        </nav>
    </div>

    <center><div>{{subject.name}}</div></center>
    
    <form method="POST">
        {% csrf_token %}
    <div class="as_container">
         {% for student in students %}
        {% load percentage_calculator %}
        {% check_marked student.id subject.id period_num as buffer %}
        {% if buffer %}
            {% if buffer.status == "absent" %}
            <div class="attendancestudents">
                <div id="name">{{student.name}}</div>
                    <div id="form">
                    <input type="radio" id="present{{student.id}}" name="status{{student.id}}" value="present">
                    <label for="present{{student.id}}">Present</label><br>
                    <div class="optionwithreason">
                        <input type="radio" id="absent{{student.id}}" name="status{{student.id}}" value="absent" checked>
                    <label for="absent{{student.id}}">Absent</label><br>
                    <button type='button' id="absentdrop"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg></button>
                    <div id="popup" style="display: none;">{{buffer.message}}</div>
                </div>
                    <input type="radio" id="od{{student.id}}" name="status{{student.id}}" value="OD">
                    <label for="od{{student.id}}">On Duty</label>
                    </div>
            </div>
            {% else %}
                <div class="attendancestudents">
                    <div id="name">{{student.name}}</div>
                        <div id="form">
                        <input type="radio" id="present{{student.id}}" name="status{{student.id}}" value="present">
                        <label for="present{{student.id}}">Present</label><br>
                        <input type="radio" id="absent{{student.id}}" name="status{{student.id}}" value="absent">
                        <label for="absent{{student.id}}">Absent</label><br>
                        <input type="radio" id="od{{student.id}}" name="status{{student.id}}" value="OD" checked>
                       <div class="optionwithreason">
                        <input type="radio" id="od{{student.id}}" name="status{{student.id}}" value="OD" checked>
                        <label for="od{{student.id}}">On Duty</label>
                        <button id="oddrop" type="button"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg></button>
                        <div id="popup_o" style="display: none;">{{buffer.message}}</div>
                    </div>
                        </div>
                </div>
            {% endif %}
        {% else %}
            <div class="attendancestudents">
                <div id="name">{{student.name}}</div>
                    <div id="form">
                    <input type="radio" id="present{{student.id}}" name="status{{student.id}}" value="present">
                    <label for="present{{student.id}}">Present</label><br>
                    <input type="radio" id="absent{{student.id}}" name="status{{student.id}}" value="absent">
                    <label for="absent{{student.id}}">Absent</label><br>
                    <input type="radio" id="od{{student.id}}" name="status{{student.id}}" value="OD">
                    <label for="od{{student.id}}">On Duty</label>
                    </div>
            </div>
        {% endif %}
        {% endfor %}
        
    </div>
        <button type="button" onclick="location.href='/attendo/faculty/assigned_classes/{{class_id}}'">back</button>
        <button type="submit">submit</button>
    </form>
</body>