{% load static %}
<!DOCTYPE html>

<head>
    <title>ATTENTO</title>
        <link rel="icon" type="image/png" href="{% static 'images/attendo_logo1.png' %}">
    <link rel="stylesheet" href="{% static 'student_style.css'%}">
    <meta name="description" content="Attendance tracking website">
    <meta name="keywords" content="Attendance, college ,school">
</head>

<body style="background-color: #bae7da;">
    <div>
    <nav class="navbar">
        <center>
            <img class="logo" src="{% static 'images/attendo_logo1.png' %}">
        <ul>
            <li><a href="#">Settings</a></li>
             <li><a href="/attendo/faculty/logout">Logout</a></li>
        </ul>
        </center>
    </nav>
    </div>

    <div class="subwiseattendback">
        <button onclick="location.href='/attendo/student/home'">back</button>
    </div>

    <form method="POST">
    {% csrf_token %}
    <center>
    <div class="selfattendform">

            <div class="selfattendradio">
                <input type="radio" id="absent" name="status" value="absent">
                <label for="absent">Absent</label>
                <input type="radio" id="od" name="status" value="od">
                <label for="od">OD</label>
                
            </div>
            <div class="reason">
                <label id="reason" for="reason">Reason</label>
                <textarea id="reasonarea" name="reason"></textarea>
            </div>
        <p class="chooseperiodlabel">Choose Periods</p>

        <div class="selfattendperiodsblock">
        {% for period in periods %}
        <div class="selfattendperiod">
            <input type="checkbox" name="periods" value={{period.id}} id="{{period.id}}">
            <label for="{{period.id}}">{{period.period|add:'1'}} . {{period.subject.name}}</label>
            
        </div>
        {% empty %}
        <div id="empty">There are no periods here</div>
        {% endfor %}
        </div>
        <button type="submit">submit</button>
    </div>
    </center>
    </form>
</body>