{% load static %}
<!DOCTYPE html>

<head>
    <title>ATTENTO</title>
        <link rel="icon" type="image/png" href="{% static 'images/attendo_logo1.png' %}">
    <link rel="stylesheet" href="{% static 'student_style.css'%}">
    <meta name="description" content="Attendance tracking website">
    <meta name="keywords" content="Attendance, college ,school">
</head>

<body style="background-color: #bae7da;">
    <div>
    <nav class="navbar">
        <center>
            <img class="logo" src="{% static 'images/attendo_logo1.png' %}">
        <ul>
            <li><a href="#">Settings</a></li>
             <li><a href="/attendo/faculty/logout">Logout</a></li>
        </ul>
        </center>
    </nav>
    </div>

    <div class="subwiseattendback">
        <button onclick="location.href='/attendo/student/home'">back</button>
    </div>

    <div class="stu_home_classes">
    {% for subject in subjects %}
    <button onclick="location.href='/attendo/student/subwiseAttendance/{{class_id}}/subwisehistory/{{subject.id}}'">
        <span id="classpart">
        {{subject.name}}
        </span>
        {% load percentage_calculator %}
        {% subwise_percentage student.id subject.id as percentage %}
        {% if percentage >= 90 %}
            <span id="percentagepart" style="color:green">
            {{percentage}}%
            </span>
        {% endif %}
        {% if percentage < 90 and percentage >= 75 %}
            <span id="percentagepart" style="color:yellow">
            {{percentage}}%
            </span>
        {% endif %}
        {% if percentage < 75 %}
            <span id="percentagepart" style="color:red">
            {{percentage}}%
            </span>
        {% endif %}
        
    </button>
    {% endfor %}
    </div>

</body>