*{
    margin:0;
    padding:0;
}
body{
    background-color: #E1EEBC;
}
.navbar{
    height:102px;
    width:100%;
    background-color:rgb(34, 102, 34);
}

.logo{
    width:140px;
    height:100px;
    float:left;
}

.navbar ul{
    float:right;
    margin-right: 30px;
    margin-top: 10px;

}

.navbar ul li{
    list-style: none;
    margin:0 17px;
    display:inline-block;
    line-height:80px;
}

.navbar ul li a{
    text-decoration: none;
    color:#E1EEBC;
    font-size: 30px;
    font-family: Gabriola;   
    padding:10px;
    transition: background-color 0.3s;;
}

.navbar ul li a:hover{
    background-color:#E1EEBC;
    color:rgb(34, 102, 34)
}

.navigations{
    display:flex;
    height:40px;
    overflow-x:auto;
    max-height:40px;
}
.yourbtn button , .history button, .assignedbtn button{
    
    height:40px;
    width: 180px;
    border:none;
    font-family:Crimson ;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    background-color: rgb(18, 152, 8);
    color: #E1EEBC;
    border:2px solid rgb(18, 152, 8);
    transition: background-color 0.3s;
}

#active button{
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: rgb(18, 152, 8) ;
    background-color:#E1EEBC;
}
.navigations button:hover{
    background-color: #E1EEBC;
    color:rgb(18, 152, 8)
}
